.post-project__image {
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1024px) {
    .post-project__image {
        box-shadow: none;
        min-width: 391px;
    }
}