@import url('./_right/post-project__card_right.css');

.post-project__card {
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding: 30px 25px;
    justify-items: center;
    justify-content: center;
    grid-gap: 30px;
}

@media (min-width: 1024px) {
    .post-project__card {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, auto);
        grid-gap: 116px;
        padding: 50px 65px;
    }
}