.header__menu-item {
    font-family: Pribambas, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}