.post-project__images {
}

@media (min-width: 1024px) {
    .post-project__images {
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-gap: 60px;
    }

    .post-project__images:nth-child(2n) {
        order: 2;
    }
}